/* Gesamtseite */
body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

/* Tic Tac Toe Tabelle */
.ticTacToe {
    border-collapse: collapse;   /* nötig damit innere Linien funktionieren */
    margin: 40px auto;   
    position: relative;        /* zentriert */
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}


h1{
    text-align: center;
}

/* Tabellenzellen */
.ticTacToe td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    cursor:pointer;

    /* Innere Linien: 5px weiß */
    border: 5px solid white;
}

td:hover{
    background-color: rgba(255,255,255, 0.3);
}

/* Äußere Rahmen entfernen -> nur innere Linien sichtbar */
.ticTacToe tr:first-child td {
    border-top: none;
}
.ticTacToe tr:last-child td {
    border-bottom: none;
}
.ticTacToe td:first-child {
    border-left: none;
}
.ticTacToe td:last-child {
    border-right: none;
}

/* Container zentriert den Button */
#button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* Button Styling */
#restart-btn {
    background-color: #00B0EF;
    color: #ffffff;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

/* Hover Effekt */
#restart-btn:hover {
    background-color: #008bbd;
    transform: scale(1.05);
}

/* Active Effekt */
#restart-btn:active {
    transform: scale(0.97);
    background-color: #00749c;
}
